# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Config files that might contain sensitive data
config/config.json
config/words.json

# Build output
dist/
build/
out/

# Cache
.cache/
.npm/
.eslintcache
.prettiercache

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.tmp/
temp/

# Dist
dist-docs
packages/discord-api-types

# Miscellaneous
.turbo
tsconfig.tsbuildinfo
package.tgz
tsup.config.bundled*
vitest.config.ts.timestamp*

# Deno
deno.lock

# Bun
bun.lockb

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cache
.vercel